html {
    font-size: 62.5%;
}
body {
    width: 980px;
    margin: 0 auto;
}
/* Header */
    .header {
        background-color: #F5B4B3;
        height: 50px;
        font-size: 1.5rem;
    }
    .header nav{
        float: right;
    }

    .logo_image {
        width: 110px;
        margin: 0;
        float: left;
    }

    /* */
    ul.top_menu{
        padding: 0px;
        margin: 0px;  
        float: right;
    }

    ul.top_menu li{
        float: right;
        padding: 15px;
        margin: 0 1rem 0 1rem;
        list-style: none;
    }

    ul.top_menu li a{
        color: #fff;
        text-decoration: none;
    }

    ul.top_menu li a:hover {
        text-decoration: underline;
    }

.clearfix{
    content: "";
    display: block;
    clear: both;
}

/* Image area */
.image_area{
    width: 100%;
    max-width: 100%;
  }
  
/* Side Menu */
.side_menu{
    
}
.side_menu li{
    background-color: #F5B4B3;
    height: 6rem;
    margin-bottom: 10px;
  }